<div class="container">
    <div class="gap"></div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <div class="panel panel-primary" id = "userDetails">
            <div class="panel-heading">
                Welcome to chat application!
            </div>
            <div class="panel-body">
                <form ng-submit="start()">
                    <input class="form-control" type="text" ng-model="user" placeholder="Enter your name" required="Please Enter your username">
                    <br>
                    <input type="submit" class="btn btn-primary center-block" value="Start Chat">
                </form>
            </div>
        </div>
    </div>
</div>